@font-face {
  font-family: custom;

  src: url(fonts/kiona_2/Kiona-Regular.ttf);
}

@font-face {
  font-family: customFontBold;
  
  src: url(fonts/kiona_2/FontsFree-Net-Kiona-Bold.ttf);
}

body {
  font-family: custom;
  box-sizing: border-box;
  font-size: 1.2rem;

  /* background-color: red; */
}
a {
  text-decoration: none;
}

.main {
  display: flex;
  /* height: 100vw; */
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

/*  */img {
height: 100%;

width: 491px;
}
  
/*  */


.form-section {
  /* width:50% */
  display: flex;
  flex-flow: column;
}

.side-hero {
  /* height: 100%; */
  height: 100vh;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items:center ;
  min-width: 470px;
  /* position: relative  ; */
  width: 60vw;
  
  background:url(images/sebastian-staines-PL3IgSokBLU-unsplash.jpg) ;
  background-size: cover;




}
/* img{
  margin-top: 0;
  width: 100%;
  height: 100vw;
  }
  */
  
  label {
  width: 240px;
  /* width: 40%; */
}

form {
  display: flex;
  
  flex-direction: row;
  flex-wrap: wrap;
  gap: 59px;
}


.input-section{
 /* display:inline-block;  */
background-color: white;
font-size: 1rem;
  /* box-shadow: 0px 5px 56px rgba(0, 0, 0, 0.123); */

box-shadow:0px 5px 5px rgba(0, 0, 0, 0.123);
/* box-shadow: 0px 55px 51px rgb(192 15 15 / 50%); */
z-index: 2;

}






.input-section p{
  font-size: 1.2rem;
}

.submit-section p {
  text-transform: uppercase;
}



.submit-section

{
  
  background-color: rgb(240, 240, 240);
  

}
.header {
  font-family: customFontBold;
  padding: 0 24px;
  background-color: rgb(240, 240, 240);
}

.input-section,.submit-section {
  padding: 1.5rem 2rem 3rem 2rem;
}




button[type="submit"]
{
  font-size: 1.3rem;
padding: 0.8rem 1.2rem;
border-radius: 0.5rem;
/* border: 1px solid #ad49ac; */

background-color: #ad49ac;

color: white;
font-family: customFontBold
;

}
.side-hero >div{
  /* z-index: 2; */
background-color: black;
/* opacity:70%; */
/* margin-top: -100px; */
background-color: rgba(0, 0, 0, 0.527);
width: 100%;
display: flex;
justify-content: center;
align-items: center;
line-height: 2rem;

/* gap: 10px; */
color: white;
}

.side-hero >div img
{
  /* width: 50%; */
  /* height: 126px; */
  height: 126px;
  width: 100px;
}





/* styles.css | http://127.0.0.1:5500/styles.css?_cacheOverride=1728723130578 */

.side-hero > div img {
  padding: 10px;
}

/* styles.css | http://127.0.0.1:5500/styles.css?_cacheOverride=1728723369158 */

.side-hero > div img {
  /* height: 126px; */
  /* width: 100px; */
  height: 106px;
  width: 80px;
  padding: 10px;
}
